# .gitignore

# Ambiente Virtual
venv/
.env
.flaskenv
# Arquivos Python Compilados
__pycache__/
*.pyc

# Docker
*.log
docker-compose.override.yml

# IDEs e Editores
.vscode/
.idea/
*.swp

# Outros
*.sqlite3
.cache/
